<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ cats }}</title>
</head>
<body>
    <h1>{{ cats }} Category</h1>

    <div class="row">
        {% for q in post %}        
                <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="{{ q.photo.url }}" alt=""></a>
                    <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'prod_detail' q.id %}">{{ q.name }}</a>
                    </h4>
                    
                    <p class="card-text">{{ q.details }}</p>
                    <p class="card-text">{{ q.posted_by }}</p>
                    </div>
                    <div class="card-footer">
                    <small class="text-muted"><h5>Npr. {{ q.price }}</h5></small>
                    </div>
                </div>
                </div>
        {% endfor %}
    </div>
</body>
</html>