<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Merokitab - An online book store.</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/shop-item.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Merokitab</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contactus' %}">Contact</a>
          </li>
              <li class="nav-item">
          {% if request.user.is_authenticated %}
            <a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a class="nav-link text-black font-weight-bold" href="{% url 'login_view' %}">Login</a>
          {% endif %}
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  
  <div class="container">

    <div class="row">
      <div class="col-lg-9">
         <!-- /.card -->
          
        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="{{ produc.photo.url }}" alt="" style="height: auto; width: 70%;">
          <div class="card-body">
            <h3 class="card-title">{{ produc.name }}</h3>
            <h4>NPR: {{ produc.price }}</h4>
            <p class="card-text">Posted by: {{ produc.posted_by }}</p>
            <p class="card-text">Published by: {{ produc.publication }}</p>
            <p class="card-text">Written by: {{ produc.author }}</p>
            
            
            <a href="#" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">View Details</a>
            <a href="#" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Buy This Book</a>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="card-text">ISBN No.: {{ produc.ISBN }}</p>
                    <p class="card-text">Abstract: {{ produc.abstract }}</p>
                    <p class="card-text">{{ produc.details }}</p>
                    
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          
        </div>
        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            {{ rev.count }} Comments
          </div>
          {% for rev in rev %}
          <div class="card-body">
            <p>{{ rev.comment }}</p>
            <small class="text-muted">Posted by {{rev.user}} on {{rev.created_date}}</small>
            <hr> 
          </div>
        
          {% endfor %}
        {% if request.user.is_authenticated %}
        </div>
            <div class="col-md-8 card mb-4  mt-3 ">
              <div class="card-body">
                <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <h3>Leave a comment</h3>
                <form method="post" style="margin-top: 1.3em;">
                  {{ comment_form.as_p }}
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                </form>
              </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <h3>Hey....You have to Login to post a comment</h3>
        {% endif %}
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>

</html>
